[Desktop Entry]
Name=luckyLUKS
Name[de]=luckyLUKS
Comment=GUI for creating and unlocking LUKS/TrueCrypt volumes from container files
Comment[de]=GUI zum Erstellen und Öffnen von verschlüsselten Containern (LUKS/TrueCrypt)
GenericName=Encrypted Container Tool
GenericName[de]=Verschlüsselte Container
Exec=lucky-luks
Categories=Utility;
Icon=dialog-password
NoDisplay=false
StartupNotify=false
Terminal=false
Type=Application
