#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=GUI for creating and unlocking LUKS/TrueCrypt volumes from container files
Comment[de]=GUI zum Erstellen und Öffnen von verschlüsselten Containern (LUKS/TrueCrypt)
Categories=GTK;Utility;
GenericName=Encrypted Container Tool
GenericName[de]=Programm für verschlüsselte Container
Exec=lucky-luks
Icon=dialog-password
Name=luckyLUKS
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application